body {
	background-color: #3c3c3c !important	;
}

.links-menu {
	color: grey;
}

a.links-menu:hover {
	color: grey;
	text-decoration: none;
}

a.nav-link {
	text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.center-article {
	display: flex;
	justify-content: center;
}

.color-nav {
	background-color: #222222 !important;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.cont-botones-mobile {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10%;
}

@media screen and (min-width: 999px) {
	.botones-mobile {
		display: none !important;
	}
}
